[SERVER]
METHOD=server
PORT=1111
HOST=

[GIT]
METHOD=OATH
URL=http://127.0.0.1:8081
USER=test
PASS=qwerty12345

[JIRA]
URL=http://127.0.0.1:8081
USER=gitlab
PASS=qwerty12345
ISSUE_TYPE=option

[RELATIONS]
TEST=root/test

